BL-soap/src/main/resources/xsd/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://stalostech.pl/autogenerated/xsd/model"
	targetNamespace="http://stalostech.pl/autogenerated/xsd/model"
	elementFormDefault="qualified">

	<xs:element name="getConfigurationRequest">
		<xs:complexType />
	</xs:element>

	<xs:element name="getConfigurationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="configuration" type="tns:configuration" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="saveConfigurationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="configuration" type="tns:configuration" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="saveConfigurationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="tns:status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="configuration">
		<xs:sequence>
			<xs:element name="logoColor" type="tns:color" />
			<xs:element name="fps" type="tns:int-5-45" />
			<xs:element name="threshold" type="tns:int-5-20" />
			<xs:element name="thresholdChecked" type="xs:boolean" />
			<xs:element name="model" type="tns:model" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="int-5-45">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="5" />
			<xs:maxInclusive value="45" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="int-5-20">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="5" />
			<xs:maxInclusive value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="model">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAR" />
			<xs:enumeration value="LOGO" />
			<xs:enumeration value="NEW_LOGO" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK" />
			<xs:enumeration value="ERROR" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="color">
		<xs:restriction base="xs:token">
			<xs:pattern value="#[\dA-F]{6}([\dA-F][\dA-F])?" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>